<!DOCTYPE HTML>
<html>
<head>
	<title>Wrigley Institute dives into sustainability	</title>
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="is-preload">
		<div class="banner">
			<a href="index.html"><img src="images/thinbanner.png"></a>
		</div>
		<br>
		<ul class="actions special">
			<li><a href="http://dailytrojan.com" class="button">Daily Trojan</a></li>
		</ul>
		<hr>

		<div class="headline">
			<h1>Wrigley Institute dives into sustainability	</h1>
				<div class="deck"><p> The Institute conducts large scale projects on Catalina Island to further its environmental initiatives. </p></div>
				<div class="byline"> <p> Story and photos by Emily Smith, <b> Photo Editor </b> </p></div>

				<hr>
			</div>

			<div class="w3-content" style="max-width:80%">
  <img class="mySlides" src="images/catalina5.jpg" style="width:100%">
  <img class="mySlides" src="images/catalina6.jpg" style="width:100%;display:none">
  <img class="mySlides" src="images/catalina7.jpg" style="width:100%;display:none">

  <div class="w3-row-padding w3-section">
    <div class="w3-col s4">
    </div>
    <div class="w3-col s4">
      <img class="demo w3-opacity w3-hover-opacity-off" src="images/catalina5.jpg" style="width:100%;cursor:pointer" onclick="currentDiv(1)">
    </div>
    <div class="w3-col s4">
      <img class="demo w3-opacity w3-hover-opacity-off" src="images/catalina6.jpg" style="width:100%;cursor:pointer" onclick="currentDiv(2)">
    </div>
    <div class="w3-col s4">
      <img class="demo w3-opacity w3-hover-opacity-off" src="images/catalina7.jpg" style="width:100%;cursor:pointer" onclick="currentDiv(3)">
    </div>
  </div>
</div>
<div class="caption"><p>Giant kelp Macrocystis pyrifera, which is used to generate a biofuel, can grow up to three feet per day under optimal conditions.</p></div>

<script>
function currentDiv(n) {
  showDivs(slideIndex = n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
     dots[i].className = dots[i].className.replace(" w3-opacity-off", "");
  }
  x[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " w3-opacity-off";
}
</script>

			<div class="storyBody">
				<!-- <img src="images/rallyBig.jpg">
				<div class="caption"><p>Members of the Environmental Core rally in 2016, asking the USC administration to place more emphasis on sustainability on campus. <i>(Daily Trojan file photo)</i></p></div> -->
				<section>
					<hr />	
					<p><span class="firstcharacter">M</span>ost faculty and students don't get to see a beautiful ocean sunrise or a pod of dolphins on their commute to class. But for researchers at USC's environmental research center on Catalina Island, it's all part of an average day. <br><br>


A 5 a.m. wake-up call to beat traffic on the 110 Freeway and 90 minutes on turbulent waters separate staff and students from the USC Wrigley Institute for Environmental Studies on Catalina. USC's personal shuttle on the sea, the Miss Christi, takes visitors through the roughly 25 nautical miles from the port of San Pedro to the research center at least five days a week.<br><br>

The Wrigley Marine Science Center was founded by Philip Wrigley, son of chewing gum magnate William Wrigley Jr. and a dedicated environmentalist who donated his family's land on Catalina Island for conservation. The USC Wrigley Institute opened as an extension of the Marine Science Center in 1995, as a dedicated space for research in sustainable initiatives. Since then, the island has been a model for implementation of sustainable practices and a hotbed for environmental research.<br><br>

Some notable projects hosted on Catalina include a large-scale measurement of metal contamination in Southern California's coastal waters, monitoring the effects of light pollution on coastal marine animals, exploring the evolution of the endangered island fox and ongoing research in food sustainability - from aquaponics gardening to revolutionary methods of composting with the help of black soldier flies.<br><br>

Diane Kim, associate director of the Wrigley Institute, is working on a project to convert kelp into a biofuel that could someday replace gasoline.<br><br>

"It's pretty straightforward ... and I think there's a lot of power in that, that a lot of really innovative solutions are also simple ones," Kim said.<br><br>

Kelp, a species of macroalgae,  is turned into a biofuel through  a process called hydrothermal liquefaction. This involves drying the kelp, then processing the biomass in an extremely hot, pressurized and wet environment for long periods of time to allow the breakdown of the solid chemical structure. Typically, the product of this process is a biocrude, which can be further distilled or processed into a fuel that can be used just like any petroleum-based fuel.<br><br>

Kim and her colleagues, a team of faculty, undergraduate and graduate researchers from USC, as well as partners at eco-tech company Marine BioEnergy, have been working on the kelp project for about two years now. The key to their work is cooperation, involving specialists such as chemical engineers from Pacific Northwest National Laboratory and business analysts from Marine BioEnergy who are looking into the future commercialization of kelp as a biofuel.

</p></section></div>

				<div class="biggerphoto">
					<img src="images/catalina1.jpg">
					<div class="caption"><p>The Wrigley Marine Science Center on Catalina Island boasts many scientific facilities like this lab, where students and staff participate in research on sustainable initiatives like kelp biofuel. </p></div>
				</div>

				<section><div class="storyBody"><p>

First-year graduate students Rilee Sanders and Tristan Jordan-Huffman have been working on the project as field research assistants. The pair spent the past summer out on the island doing two to three dives per day to monitor juvenile kelp plants and determine the optimal timing for stationing the kelp in the ocean.<br><br>

In other countries, researchers have already been looking into kelp as a biofuel source for the last few years. However, the researchers at Wrigley and Marine BioEnergy have come up with an innovative way to farm the massive amounts of kelp necessary for a commercialized fuel source: a so-called "kelp elevator." The current prototype models use PVC pipes in the ocean to grow the kelp. The pipes also cycle them from the surface where the light is to the deep water where the nutrients are.<br><br>

"We're talking about areas almost the size of the United States in total, so you need a lot of space to do that," Kim said.<br><br>

The solution is to go out into the open ocean, away from the coast, which humans already heavily rely on for resources and recreation.<br><br>

"Instead of taking the nutrients to the kelp, we're taking the kelp to the nutrients," Kim said, adding that the toughest part is working against the currents.
<br><br>
Eventually, the team hopes the growing model will be much more technologically advanced.<br><br>

"We don't want to battle the ocean, we want to go with the flow literally, so we want this free-floating autonomous farm that's pulled by drones that are powered by solar," Kim said.<br><br>

It sounds like a Jetsons-esque utopia, but this could be the reality of a future without fossil fuels. Kelp is one of the fastest growing plants on the planet, according to Sanders. And unlike traditionally farmed plants, it requires no fresh water, fertilizer, pesticides or fertile land. These attributes make kelp a viable potential substitute for traditional fuels, as it can be sustainably farmed, harvested and converted into biofuel.<br><br>

The USC Wrigley Institute's research is part of a larger effort to get the United States' biofuel production caught up to the rest of the world. Other countries like Sweden and Japan have been farming kelp in large quantities for decades taking advantage of the crop's nutritional benefits in their regular diet. Thus, they already have a working kelp-farming infrastructure to use and develop.<br><br>

But the faculty and students working on the project are optimistic that they can overcome these early hurdles and revolutionize the fuel industry.<br><br>

"If we can not only prove that it can be done, but that it can be done efficiently and in a competitive way with other biofuels then it really has the potential to be a leading factor in the industry," Jordan-Huffman said.<br><br>

Kim stressed that the team is not focused on profit, but rather commercial viability in a competitive fuel market.<br><br>

"The Wrigley Institute supports any project that is looking for sustainable solutions to some of our biggest environmental challenges, and energy is certainly one of those," Kim said.<br><br>

Sanders has faith in his colleagues. He noted the importance of having dedicated researchers in specific areas - including ocean conservation, chemical engineering and economics - so that they can become experts on these relatively new scientific developments.<br><br>

"What we're attempting to do ... is really transformative for the future in terms of biofuel usage and just the possibilities that exist when you put smart people together and figure some things out," Sanders said.


					</p>
				</section>
			</div>
			<!-- Footer -->
			<div class="banner bottom">
				<img src="images/thinbanner.png">
			</div>
			<footer id="footer">
				<p><b>PRODUCED BY</b> <br>

					<b>ALLEN PHAM,</b> Editor-in-Chief | 	
					<b>DIANA KRUZMAN,</b> Features Editor |
					<b>ALINA ABIDI,</b> Online Projects Editor |
					<b>ERIC HE,</b> Managing Editor |
					<b>TOMÁS MIER,</b> Associate Managing Editor |
					<b>CATHERINE YANG,</b> Associate Managing Editor

					<br><br>
					&copy; University of Southern California | Daily Trojan 2018. All rights reserved. | <a href="https://html5up.net/">HTML5UP</a></p>	
				</footer>

				<!-- Scripts -->
				<script src="assets/js/jquery.min.js"></script>
				<script src="assets/js/browser.min.js"></script>
				<script src="assets/js/breakpoints.min.js"></script>
				<script src="assets/js/util.js"></script>
				<script src="assets/js/main.js"></script>

			</body>
			</html>