<!DOCTYPE HTML>
<html>
<head>
	<title>As one sustainability plan nears its end,
		students push for the next one to be stronger</title>
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="is-preload">
		<div class="banner">
			<a href="index.html"><img src="images/thinbanner.png"></a>
		</div>
		<br>
		<ul class="actions special">
			<li><a href="http://dailytrojan.com" class="button">Daily Trojan</a></li>
		</ul>
		<hr>

		<div class="headline">
			<h1>As one sustainability plan nears its end,
				students push for the next one to be stronger</h1>
				<div class="deck"><p> Students want USC to create a new plan with clearer goals. </p></div>
				<div class="byline"> <p> Daily Trojan <b> Editorial Board </b> </p></div>

				<hr>
			</div>

			<div class="biggerphoto">
				<img src="images/eboard.jpeg">
			</div>

			<br>
			<div class="storyBody">
				<section>
					<p><span class="firstcharacter">T</span>his week, the Daily Trojan launched “Speck of Green,” a news series exploring the topic of environmentalism at USC. Given the spectre of climate change and the undeniability of its effects and existence, we saw an opportunity to engage with the campus community about our role in combating the greatest modern threat facing our planet.<br><br>

California is no stranger to climate change strategy and activism, having implemented statewide measures to reduce greenhouse gas emissions to 40 percent below 1990 levels by 2030. Working both domestically and internationally, the state leads the nation in ambitious programs to combat climate change. <br><br>

USC — an institution that touts itself as a global leader in thought and innovation — has a moral obligation to do its part in California’s charge toward environmental sustainability. In 2015, the University launched the Sustainability 2020 Plan, a campus-wide effort organized around seven core goals and initiatives. As the titular deadline year fast approaches and the plan’s already-modest goals remain hardly within reach, it’s time for USC to reassess its position of privilege and set a prime example for Los Angeles, California and the rest of the world.<br><br>

One of the areas in which the University has excelled is in how it manages its largest facility — the Los Angeles Memorial Coliseum. In 2015, USC implemented a zero-waste program for the football stadium for both Trojans and Los Angeles Rams games, aiming to have more than 90 of gameday waste compostable or recyclable. In 2017, it won the Pac-12 zero-waste competition after diverting more than 90 percent of gameday waste during its annual “Green Game” and became the largest NFL stadium and second-largest college stadium to achieve zero waste. This season, the Coliseum has achieved zero waste in two out of three USC games in which data was made available. <br><br>

As highlighted in the series, USCis also home to a student-organized housing operation focused on environmental consciousness, as well as a self-sustaining garden that grows and delivers produce to various campus establishments. <br><br>

In spite of all the praiseworthy endeavors the University has undertaken thus far, there is still a lot of room for improvement. While the Sustainability 2020 Plan is a commendable first step, it  simply not enough. Most importantly, it does not demonstrate a robust commitment from the senior leadership level to addressing the pressing challenges of environmental degradation in a manner that reflects USC’s capability given its immense power and resources. <br><br>

<blockquote><i>The University must do better engaging students, who are vital components of the environmental movement on campus.</i></blockquote>

Whether through letters to the editor, on-campus activism and peaceful demonstrations, USC student organizations have consistently indicated their allegiance to combating climate change. Similarly, in a letter published in Wednesday’s edition of the Daily Trojan, members of the Academic Senate Committee on Sustainability voiced their support for the student groups who took the lead in calling on the University to bring to completion its responsibilities and promises. <br><br> 

The University must do better engaging students, who are vital components of the environmental movement on campus. Beyond facilitating transparency of its goals and providing practical education, the administration must collaborate with outspoken student groups — including Environmental Core, Environmental Student Assembly and Undergraduate Student Government — to include student perspectives and more effectively implement meaningful change. <br><br>

At the student level, we must mobilize and lobby the University, as well as other institutions that are beholden to us, to take responsibility for their environmental impact. Above all, students must make changes in their own everyday lives by engaging in sustainable practices like separating recycling and compost; reducing emissions by using public transportation and walking or biking whenever possible; and minimizing food waste by consuming locally sourced produce and fewer animal products. In all aspects of their lives, students must be diligent and informed consumers and producers — and put pressure on the University to do the same.<br><br>

We understand that the University is busy dealing with a whole host of administrative issues implicit to running a world-class institution — from a string of faculty scandals and consequent lawsuits to a floundering football season. But this is no excuse to ignore the looming dangers facing our increasingly run-down planet: As the global environmental crisis reaches a critical point, it becomes undeniably clear that everyone who is able must focus their time and energy on sustainability. It therefore falls on the University to prioritize the allocation of its resources, do its part in educating its students and fulfill its duty to future generations. <br><br>

With “Speck of Green,” we join the call in imploring USC to reevaluate its progress toward its current sustainability goals and urging senior University leaders to explicitly assert their support for longer-term, practical and aggressive reform — lest we regret not doing more to save our only home.

					</p>
				</section>
			</div>
			<!-- Footer -->
			<div class="banner bottom">
				<img src="images/thinbanner.png">
			</div>
			<footer id="footer">
				<p><b>PRODUCED BY</b> <br>

					<b>ALLEN PHAM,</b> Editor-in-Chief | 	
					<b>DIANA KRUZMAN,</b> Features Editor |
					<b>ALINA ABIDI,</b> Online Projects Editor |
					<b>ERIC HE,</b> Managing Editor |
					<b>TOMÁS MIER,</b> Associate Managing Editor |
					<b>CATHERINE YANG,</b> Associate Managing Editor

					<br><br>
					&copy; University of Southern California | Daily Trojan 2018. All rights reserved. | <a href="https://html5up.net/">HTML5UP</a></p>	
				</footer>

				<!-- Scripts -->
				<script src="assets/js/jquery.min.js"></script>
				<script src="assets/js/browser.min.js"></script>
				<script src="assets/js/breakpoints.min.js"></script>
				<script src="assets/js/util.js"></script>
				<script src="assets/js/main.js"></script>

			</body>
			</html>