<!DOCTYPE HTML>
<html>
<head>
	<title>Green house: Eco-op provides students with sustainable living	</title>
	<link rel="stylesheet" href="assets/css/main.css" />
</head>
<body class="is-preload">
<div class="banner">
		<a href="index.html"><img src="images/thinbanner.png"></a>
	</div>
	<br>
	<ul class="actions special">
			<li><a href="http://dailytrojan.com" class="button">Daily Trojan</a></li>
		</ul>
		<hr>

	<div class="headline">
		<h1>Green house: Eco-op provides students with sustainable living	</h1>
		 <div class="deck"><p> At this 28th Street house, students have built an eco-friendly community. </p></div>
		<div class="byline"> <p> by Kate Sequeira, <b> News Editor </b> </p></div>

		<hr>
	</div>

	<div class="storyBody">
		<img src="images/houseBig.jpg">
		<div class="caption"><p>Eco-op is an environmentally themed cooperative house, complete with a vegetable garden in the back. Here, residents help each other maintain an eco-conscious lifestyle.<br> <i>(Thomas Forman | Daily Trojan)</i></p></div>
			<section>
			<hr />	
					<p><span class="firstcharacter">C</span>eCe Uhrich and Tim Buchanan live in a two-story house on 28th Street with eight other USC students. Their shelves are filled with items bought in bulk and their basement is home to a compost pile. A small container of dollar bills sits on a table near the front door serving as the ecotax collector when one of the residents succumbs to an Amazon Prime two-day shipping temptation or a Postmates delivery, both of which cause extensive paper and plastic waste.<br><br>

Uhrich and Buchanan live in USC's Eco-op, an environmentally-themed "cooperative" house near campus. Throughout the year, they open their home to USC students by hosting vegetarian potlucks once a month along with other green-themed get-togethers.<br><br>

On a normal evening, the residents are sprawled on the couch or seated at the wooden table in the living room finishing last-minute homework, snacking on food or catching up with one another. Sundays are devoted to check-in time as each reflects on the "roses" and "thorns" of the past week.<br><br>

As a team, the 10 students focus on promoting and camping sustainable lives.<br><br>

"It's a place for people who are frustrated by roommates who don't recycle," said Uhrich, a senior majoring in environmental studies and environmental science and health. "People who want to share with each other and be actual friends with each other and care about each other is one huge aspect of it, and I think that's really the pull. Then the second level is everybody should care about sustainability and just other important things in general."<br><br>

Eco-op focuses on small actions to encourage sustainable living. Students in the house buy reusable products, refrain from using paper towels and share food to ensure nothing goes to waste. They also restrict toilet flushing to limit water use.<br><br>

"Every kind of every aspect of your life has to change if you want to live a sustainable lifestyle," Uhrich said. "So, it's kind of just always listening to each other's ideas and suggestions ... being willing to sacrifice a little bit of your personal comfort for sustainability."<br><br>

Buchanan, a senior majoring in environmental studies, said joining Eco-op helped expose him to more environmental issues.</p>

	<img src="images/gardenBig.jpg">
		<div class="caption"><p><i>(Thomas Forman | Daily Trojan)</i></p></div>
			<p>"I came from New Jersey where environmentalism is more pollution," he said. "I grew up by the ocean, [so] protecting it from that side I knew very well, but there's a lot more to it than that, obviously, that I got into when I got out here to school."<br><br>

Uhrich said the recurring potlucks give students a chance to build a community and learn from one another.<br><br>

"We want to be able to meet each other's friends and have a place for those friends to meet other friends," she said. "Potlucks usually ended up being a pretty good place [to meet people] because people will come alone and not know anybody and bring their dish and then meet somebody from that and end up talking all night."<br><br>

In past years, Eco-op has also hosted gardening and compost workshops. Uhrich said she hopes to host one about sustainable fashion this year.<br><br>

When the Eco-op was originally created, the house was also home to chickens and a large garden; however, students found it difficult to care for the animals because of their busy schedules, plus their management company built a new structure in the backyard, cutting down the space available for planting. Since then, Eco-op members have restarted a smaller garden to grow kale, parsley and broccoli.<br><br>

"[We try] to be self-sufficient to some extent in terms of food so you don't always have to rely on Ralph's," she said. "Then, at the same time, vegetarianism, veganism - we try to promote that too, not only within our house but also when we host events."<br><br>

Though not everyone living in the house is vegan or vegetarian, all students are more mindful of the food they consume, Buchanan said.<br><br>

"It definitely helps me to think about reducing as much as possible and learning how to cook better with less impactful sources," he said. "Not only less meat but when you do meat focusing on the chicken side of the spectrum rather than the beef, knowing where you're sourcing things from and just cooking better meals that taste better but have a lower impact."<br><br>

Unrich said she enjoys the diversity of community within the Eco-op, something she will miss once she graduates.<br><br>

"Not everybody's on the same major, and not everybody feels the same way about things," she said. "It's always good to have some different ideas to make each other better."<br><br>

Though Eco-op is not currently part of the Environmental Student Assembly, it hopes to be next semester in order to get more involved.
						</p>

					
					</section>
	</div>

				<!-- Footer -->
				<div class="banner bottom">
		<img src="images/thinbanner.png">
	</div>

				<footer id="footer">
			<p><b>PRODUCED BY</b> <br>

				<b>ALLEN PHAM,</b> Editor-in-Chief | 	
				<b>DIANA KRUZMAN,</b> Features Editor |
				<b>ALINA ABIDI,</b> Online Projects Editor |
				<b>ERIC HE,</b> Managing Editor |
				<b>TOMÁS MIER,</b> Associate Managing Editor |
				<b>CATHERINE YANG,</b> Associate Managing Editor

				<br><br>
				&copy; University of Southern California | Daily Trojan 2018. All rights reserved. | <a href="https://html5up.net/">HTML5UP</a></p>	
			</footer>


					<!-- Scripts -->
					<script src="assets/js/jquery.min.js"></script>
					<script src="assets/js/browser.min.js"></script>
					<script src="assets/js/breakpoints.min.js"></script>
					<script src="assets/js/util.js"></script>
					<script src="assets/js/main.js"></script>

				</body>
				</html>