<!DOCTYPE HTML>
<html>
<head>
	<!-- 	<link rel="icon" href="images/favicon.png"> TO DO !!!!!!!!!!-->
	<title>Speck of Green</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="assets/css/main.css" />
	<meta property="og:type"               content="article" />
	<meta property="og:title"              content="Speck of Green" />
	<meta property="og:description"        content="Environmental degradation looms as the 21st century's biggest challenge. But is USC doing enough?"/>
	<meta property="og:image"              content="images/main_image" />
</head>
<body class="is-preload">

	<div class="banner">
		<img src="images/speck-smaller.jpg">
	</div>
	<!-- Header -->
<!-- 	<div id="header">
		<h1>Supplement Title</h1>
		<p><a href="http://dailytrojan.com">Daily Trojan</a>
			<br /></p>
		</div> -->

		<!-- Main -->
		<div id="main">

			<header class="major container medium">
				<h2>Environmental degradation looms as the 21st century's biggest challenge. But is USC doing enough?</h2>
					<!--
					<p>Tellus erat mauris ipsum fermentum<br />
					etiam vivamus nunc nibh morbi.</p>
				-->
			</header>

			<div class="box alt container">
				<section class="feature right">
					<a href="sustainability.html" class="image icon "><img src="images/rally.png" alt="" /></a>
					<div class="content">
						<a href="sustainability.html"><h3>A Clearer Plan</h3></a>
						<p>As one sustainability plan nears its end, students push for the next one to be stronger</p>
					</div>
				</section>
				<section class="feature left">
					<a href="#" class="image icon "><img src="images/house.png" alt="" /></a>
					<div class="content">
						<h3>Green house</h3>
						<p>At this 28th Street house, students have built an eco-friendly community</p>
					</div>
				</section>

				<!-- put this in tomorrow

				<section class="feature left">
					<a href="#" class="image icon "><img src="images/filler.jpg" alt="" /></a>
					<div class="content">
						<h3>Story 3</h3>
						<p>Vitae natoque dictum etiam semper magnis enim feugiat amet curabitur tempor orci penatibus. Tellus erat mauris ipsum fermentum etiam vivamus eget. Nunc nibh morbi quis fusce lacus.</p>
					</div>
				</section> -->
			</div>		

			<!-- ADD THIS TOMORROW

			<footer class="major container medium">
				<h3>More Stories</h3>
				<p>Vitae natoque dictum etiam semper 
					<br><br> <a href="dailytrojan.com">Teaching garden story about teaching garden</a>
					<br> <a href="dailytrojan.com">Teaching garden story about teaching garden</a>
					<br> <a href="dailytrojan.com">Teaching garden story about teaching garden</a>
				</p> <hr>

				<h3>alt more stories style</h3>
				<p>Vitae natoque dictum etiam semper 
					<h1><a href="dailytrojan.com">Teaching garden</a></h1>
					Deck about teaching garden story story story story

					<br><br> <h1><a href="dailytrojan.com">Teaching garden</a></h1>
					Deck about teaching garden story story story story

					<br><br> <h1><a href="dailytrojan.com">Teaching garden </a></h1>
					Deck about teaching garden story story story story

				</p>
			</footer> -->

		</div>


		<!-- Footer -->
		<br>

		<footer id="footer">
			<p><b>PRODUCED BY</b> <br>

				<b>ALLEN PHAM,</b> Editor-in-Chief | 	
				<b>DIANA KRUZMAN,</b> Features Editor |
				<b>ALINA ABIDI,</b> Online Projects Editor |
				<b>ERIC HE,</b> Managing Editor |
				<b>TOMÁS MIER,</b> Associate Managing Editor |
				<b>CATHERINE YANG,</b> Associate Managing Editor

				<br><br>
				&copy; University of Southern California | Daily Trojan 2018. All rights reserved. | <a href="https://html5up.net/">HTML5UP</a></p>	
			</footer>

			<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

		</body>
		</html>