<!DOCTYPE HTML>
<html>
<head>
	<!-- 	<link rel="icon" href="images/favicon.png"> TO DO !!!!!!!!!!-->
	<title>Speck of Green</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="assets/css/main.css" />
	<meta property="og:type"               content="article" />
	<meta property="og:title"              content="Speck of Green" />
	<meta property="og:description"        content="Environmental degradation looms as the 21st century's biggest challenge. But is USC doing enough?"/>
	<meta property="og:image"              content="images/main_image" />
</head>
<body class="is-preload">

	<div class="banner">
		<img src="images/speck-smaller.jpg">
	</div>
	<!-- Header -->
<!-- 	<div id="header">
		<h1>Supplement Title</h1>
		<p><a href="http://dailytrojan.com">Daily Trojan</a>
			<br /></p>
		</div> -->

		<!-- Main -->
		<div id="main">

			<header class="major container medium">
				<h2>Environmental degradation looms as the 21st century's biggest challenge. But is USC doing enough?</h2>
			</header>

			<div class="box alt container">
				<section class="feature right">
					<a href="sustainability.html" class="image icon "><img src="images/rally.png" alt="" /></a>
					<div class="content">
						<a href="sustainability.html"><h3>A Clearer Plan</h3></a>
						<p>As one sustainability plan nears its end, students push for the next one to be stronger</p>
					</div>
				</section>
				<section class="feature left">
					<a href="ecohouse.html" class="image icon "><img src="images/house.png" alt="" /></a>
					<div class="content">
						<a href="ecohouse.html"><h3>Green house</h3></a>
						<p>At this 28th Street house, students have built an eco-friendly community</p>
					</div>
				</section>

				<!-- put this in tomorrow

				<section class="feature left">
					<a href="#" class="image icon "><img src="images/filler.jpg" alt="" /></a>
					<div class="content">
						<h3>Story 3</h3>
						<p>Vitae natoque dictum etiam semper magnis enim feugiat amet curabitur tempor orci penatibus. Tellus erat mauris ipsum fermentum etiam vivamus eget. Nunc nibh morbi quis fusce lacus.</p>
					</div>
				</section> -->
			</div>	

			<footer class="major container medium">
				<h2>Editor's Note</h2>
				<p>At this very moment, we are on the precipice of change. In a year characterized by extreme hurricanes and catastrophic wildfires, the country is still grappling with its place in the global fight against climate change. But while USC searches for a new president and plans to improve the ailing football program, students and members of the University community also face the threat of environmental degradation — with detrimental effects looming beyond the horizon of USC’s scenic, tree-lined campus.<br><br>

Since 2015, USC has been making an effort to tackle various environmental issues with its first-ever sustainability plan. But is the University doing enough to overcome these unrelenting challenges?<br><br>
In “Speck of Green,” the Daily Trojan highlights various facets of life in University Park — from a student housing operation on 28th Street to an academic research program on Catalina Island — to answer this very question. And in doing so, we hope to start a campus-wide conversation about how USC can foster a new culture of sustainability and environmental consciousness.
				</p> 
				<div class="signature"><h5>Allen Pham</h5>
						<h6>Editor-in-Chief</h6></div><br><br>
				<hr><br><br>

					<h3>Letters to the Editor</h3>
				<p>Student perspectives on sustainability
					<br><br> <a href="http://dailytrojan.com/2018/11/28/letter-to-the-editor-usc-must-fully-commit-to-sustainability/">USC must fully commit to sustainability</a>
					<br> <a href="https://dailytrojan.com/2018/11/20/letter-to-the-editor-usc-must-place-more-emphasis-on-sustainability/">USC must place more emphasis on sustainability</a>
				</p> 
				</footer>	

			
			<br>
			
			
<!-- ADD THIS TOMORROW
				<h3>alt more stories style</h3>
				<p>Vitae natoque dictum etiam semper 
					<h1><a href="dailytrojan.com">Teaching garden</a></h1>
					Deck about teaching garden story story story story

					<br><br> <h1><a href="dailytrojan.com">Teaching garden</a></h1>
					Deck about teaching garden story story story story

					<br><br> <h1><a href="dailytrojan.com">Teaching garden </a></h1>
					Deck about teaching garden story story story story

				</p>
			</footer> -->

		</div>


		<!-- Footer -->
		<br>

<div class="banner bottom">
		<img src="images/thinbanner.png">
	</div>
		<footer id="footer">
			<p><b>PRODUCED BY</b> <br>

				<b>ALLEN PHAM,</b> Editor-in-Chief | 	
				<b>DIANA KRUZMAN,</b> Features Editor |
				<b>ALINA ABIDI,</b> Online Projects Editor |
				<b>ERIC HE,</b> Managing Editor |
				<b>TOMÁS MIER,</b> Associate Managing Editor |
				<b>CATHERINE YANG,</b> Associate Managing Editor

				<br><br>
				&copy; University of Southern California | Daily Trojan 2018. All rights reserved. | <a href="https://html5up.net/">HTML5UP</a></p>	
			</footer>

			<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

		</body>
		</html>