<!DOCTYPE HTML>
<html>
<head>
	<!-- 	<link rel="icon" href="images/favicon.png"> TO DO !!!!!!!!!!-->
	<title>Supplement Title</title>
	<link rel="stylesheet" href="assets/css/main.css" />
</head>
<body class="is-preload">

	<div class="headline">
		<h1>As one sustainability plan nears its end,
		 students push for the next one to be stronger</h1>
		 <div class="deck"><p> Students want USC to create a new plan with clearer goals. </p></div>
		<div class="byline"> <p> by Katherine Wiles, <b> News Editor </b> </p></div>

		<hr>
	</div>

	<div class="storyBody">

		<section>
		
			</section>
			<section>
				<header>
					<h3>Divider</h3>
				</header>
				<p>Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra
					ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel. Praesent nec orci
					facilisis leo magna. Cras sit amet urna eros, id egestas urna. Quisque aliquam
					tempus euismod. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices 
					posuere cubilia.</p>
					<hr />
					<p>Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra
						ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel. Praesent nec orci
						facilisis leo magna. Cras sit amet urna eros, id egestas urna. Quisque aliquam
						tempus euismod. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
						posuere cubilia. <br><br> 

						Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra
						ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel. Praesent nec orci
						facilisis leo magna. Cras sit amet urna eros, id egestas urna. Quisque aliquam
						tempus euismod. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
						posuere cubilia. <br><br> </p>


			<blockquote>Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget.
				tempus euismod. Vestibulum ante ipsum primis in faucibus.</blockquote>
				<p>

						Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra
						ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel. Praesent nec orci
						facilisis leo magna. Cras sit amet urna eros, id egestas urna. Quisque aliquam
						tempus euismod. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
						posuere cubilia. <br><br> 

						Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra
						ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel. Praesent nec orci
						facilisis leo magna. Cras sit amet urna eros, id egestas urna. Quisque aliquam
						tempus euismod. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
						posuere cubilia. <br><br> 

						Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra
						ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel. Praesent nec orci
						facilisis leo magna. Cras sit amet urna eros, id egestas urna. Quisque aliquam
						tempus euismod. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
						posuere cubilia. <br><br> 

						</p>

					
					</section>
	</div>

				<!-- Footer -->

				<footer id="footer">
			<p><b>PRODUCED BY</b> <br>

				<b>ALLEN PHAM,</b> Editor-in-Chief | 	
				<b>DIANA KRUZMAN,</b> Features Editor |
				<b>ALINA ABIDI,</b> Online Projects Editor |
				<b>ERIC HE,</b> Managing Editor |
				<b>TOMÁS MIER,</b> Associate Managing Editor |
				<b>CATHERINE YANG,</b> Associate Managing Editor

				<br><br>
				&copy; University of Southern California | Daily Trojan 2018. All rights reserved. | <a href="https://html5up.net/">HTML5UP</a></p>	
			</footer>


					<!-- Scripts -->
					<script src="assets/js/jquery.min.js"></script>
					<script src="assets/js/browser.min.js"></script>
					<script src="assets/js/breakpoints.min.js"></script>
					<script src="assets/js/util.js"></script>
					<script src="assets/js/main.js"></script>

				</body>
				</html>