<!DOCTYPE HTML>
<html>
<head>
	<title>USC Teaching Garden: How the University uses its local garden to source campus restaurants	</title>
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="is-preload">
		<div class="banner">
			<a href="index.html"><img src="images/thinbanner.png"></a>
		</div>
		<br>
		<ul class="actions special">
			<li><a href="http://dailytrojan.com" class="button">Daily Trojan</a></li>
		</ul>
		<hr>

		<div class="headline">
			<h1>USC Teaching Garden: How the University uses its local garden to source campus restaurants	</h1>
				<div class="deck"><p> The USC Teaching Garden has planted over 80,000 crops of different varieties over the last two years. </p></div>
				<div class="byline"> <p> by Allen Pham, <b> Editor-in-Chief </b> </p></div>

				<hr>
			</div>

<div class="biggerphoto">
				<img src="images/teaching-garden-info.jpg">
				<div class="caption"><p><i>Allen Pham | Daily Trojan</i></p></div>
			</div>


<script>
function currentDiv(n) {
  showDivs(slideIndex = n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
     dots[i].className = dots[i].className.replace(" w3-opacity-off", "");
  }
  x[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " w3-opacity-off";
}
</script>

			<div class="storyBody">
				
				<section>
				
					<hr />	
					<p><span class="firstcharacter">M</span>ireya Medina is meticulous about every dish that comes out of her kitchen. As head chef of the popular campus restaurant Moreton Fig, Medina makes it a priority to use only the freshest ingredients, whether for a kale caesar salad or a side of basil pesto butter. Fortunately, she has been receiving some help.<br><br>

For the past two years, Medina has been working with a local farm just minutes away from Trousdale Parkway. In fact, it's so close that every shipment of produce can be carted by foot to the various campus establishments the farm serves.<br><br>

Managed through a partnership between the University's hospitality department and produce growers LA Urban Farms and Lettuce Grow, the USC Teaching Garden is a small space hidden behind the Radisson Hotel on Figueroa Street. Utilizing aeroponic farming technology, the facility plants and harvests various crops without soil. <br><br>

For Medina, the campus operation reflects changing attitudes about health, food and environmental sustainability, as well as the University's unique role in the push for farm-to-table methods. <br><br>

</p></section></div>

				<div class="biggerphoto">
					<img src="images/food.jpg">
					<div class="caption"><p>The USC Teaching Garden partners with restaurant Moreton Fig to provide fresh, locally sourced produce. The restaurant does its best to use all the ingredients provided by the garden. <i>(Jonathon Xue | Daily Trojan)</i></p></div>
				</div>

				<section><div class="storyBody"><p>

"We're thinking about the future ... this is the way that it should be - [because] everything we get is as pure as it can be and not genetically modified, [the food we serve] is a lot cleaner, healthier and tastier," Medina said.<br><br>

But it wasn't always like this. In 2015, USC Hospitality executive chef Eric Ernest approached his boss, Kris Klinger, with an idea: What if USC became a leader in sustainable dining?<br><br>

After conducting research, Ernest reached out to Niels Thorlaksson and LA Urban Farms founder Wendy Coleman to determine how the University could create a self-sustaining garden within the vicinity of its urban campus. Coleman, a USC alumna, suggested converting the space behind the Radisson, while Thorlaksson offered his expertise in aeroponic farming. A plan was then set in motion.<br><br>

"It wasn't about a money-saving operation for us," Klinger said. "It was about having the flexibility to grow what we want, when we want to grow it in reason - and grow more unique and better products."<br><br></p></section></div>


<div class="w3-content" style="max-width:80%">
  <img class="mySlides" src="images/garden.jpg" style="width:100%;display:none">
  <img class="mySlides" src="images/garden2.jpg" style="width:100%">
  <img class="mySlides" src="images/garden3.jpg" style="width:100%;display:none">

  <div class="w3-row-padding w3-section">
    <div class="w3-col s4">
      <img class="demo w3-opacity w3-hover-opacity-off" src="images/garden.jpg" style="width:100%;cursor:pointer" onclick="currentDiv(1)">
    </div>
    <div class="w3-col s4">
      <img class="demo w3-opacity w3-hover-opacity-off" src="images/garden2.jpg" style="width:100%;cursor:pointer" onclick="currentDiv(2)">
    </div>
    <div class="w3-col s4">
      <img class="demo w3-opacity w3-hover-opacity-off" src="images/garden3.jpg" style="width:100%;cursor:pointer" onclick="currentDiv(3)">
    </div>
  </div>
</div>
<div class="caption"><p><i>Julia Mazzucco | Daily Trojan</i></p></div>

<section><div class="storyBody"><p>

With 60 vertical towers and several thousand plants to start, the USC Teaching Garden commenced operations in April 2016. Over the last two years, growers have planted over 80,000 crops of different varieties - harvesting an average of 2,800 every month.<br><br>

Farm Manager Kevin Dutton believes that the aeroponic farming technology used at USC is both space efficient and environmentally conscious, despite setbacks. By recirculating water using pumps embedded within them, the towers save 94 percent of water typically used for each plant.<br><br>

"In a normal environment, you could go out into a piece of land, plant some seeds. As long you get water there every once in awhile, you'll have a garden," Dutton said. "Here, we depend on water and electricity, but we've made better use of it."<br><br>

At the USC Teaching Garden, between 660 to 880 plants are delivered to the Radisson, Moreton Fig and Lab kitchens within minutes after harvest every week - and without any food miles accrued.<br><br>

"We're trying to take care of our students and be proactive about the food we serve," Medina said. "It's beautiful to say that we grew it, we're using it, people are eating it right here."<br><br>

The symbiotic relationship between USC restaurants and the garden extends beyond supplying greens. According to Medina and Klinger, chefs at each restaurant typically develop and create three seasonal menus a year. <br><br>

</p></section></div>

				<div class="biggerphoto">
					<img src="images/greens.jpg">
					<div class="caption"><p><i>Jonathon Xue | Daily Trojan</i> </p></div>
				</div>

				<section><div class="storyBody"><p>

While USC chefs typically request different types of greens according to menu selections, the season is a key factor in determining which crops to grow. Dutton said that because of California's warm and temperate climate, there is more flexibility in what can be grown in the towers.<br><br>

However, unforeseen challenges in the past have forced growers like Dutton and Thorlaksson to experiment with other options.<br><br>

"The mark of a good chef is someone who can take anything and cook anything you throw at them. Sometimes, when we try out different varieties [of crops], when we do different things, when we have a failure and we have to plant something we wouldn't normally plant, they're good with cooking it," Dutton said. "They seem to utilize all of the stuff we give them, and I think that's a sign of a really good partner and a really good cooking team."<br><br>

In 2017, the National Association of College Auxiliary Services recognized USC Hospitality for its efforts in creating and managing the garden with a sustainability award. With the project's success, Klinger said that USC has become a working model for other universities such as Caltech and UCLA, both of which have visited the facility.<br><br>

"We're going to look into ways to use [the garden] to contribute to campus' sustainability goals even though that's something we didn't think much about when it was created," Klinger said.<br><br>

For Medina, the current partnership between Moreton Fig and the USC Teaching Garden is an opportunity to show to the greater Los Angeles community that USC is leading the way in changing perceptions about food and sustainability.<br><br>

"Pretty soon, chefs from around the city are going to say that chefs at USC are making a change, and caring about the kids and the community," Medina said.
					</p>
				</section>
			</div>
			<!-- Footer -->
			<div class="banner bottom">
				<img src="images/thinbanner.png">
			</div>
			<footer id="footer">
				<p><b>PRODUCED BY</b> <br>

					<b>ALLEN PHAM,</b> Editor-in-Chief | 	
					<b>DIANA KRUZMAN,</b> Features Editor |
					<b>ALINA ABIDI,</b> Online Projects Editor |
					<b>ERIC HE,</b> Managing Editor |
					<b>TOMÁS MIER,</b> Associate Managing Editor |
					<b>CATHERINE YANG,</b> Associate Managing Editor

					<br><br>
					&copy; University of Southern California | Daily Trojan 2018. All rights reserved. | <a href="https://html5up.net/">HTML5UP</a></p>	
				</footer>

				<!-- Scripts -->
				<script src="assets/js/jquery.min.js"></script>
				<script src="assets/js/browser.min.js"></script>
				<script src="assets/js/breakpoints.min.js"></script>
				<script src="assets/js/util.js"></script>
				<script src="assets/js/main.js"></script>

			</body>
			</html>