<!DOCTYPE HTML>
<html>
<head>
	<!-- 	<link rel="icon" href="images/favicon.png"> TO DO !!!!!!!!!!-->
	<title>Supplement Title</title>
	<link rel="stylesheet" href="assets/css/main.css" />
</head>
<body class="is-preload">

	<!-- Header -->
	<!-- <div id="header">
	<span class="logo icon fa-paper-plane-o"></span> -->
	<!-- 	<h1>Supplement Title</h1>
		<p>Subtitle subtitle subtitle</p>
	</div> -->

	<!-- Main -->
	

	<div class="headline">
		<h1>HEADLINE HEADLINE</h1>
		<p> Subtitle subtitle subtitle </p>
		<hr>
	</div>

	<div class="storyBody">

		<section>
		
			</section>
			<section>
				<header>
					<h3>Divider</h3>
				</header>
				<p>Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra
					ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel. Praesent nec orci
					facilisis leo magna. Cras sit amet urna eros, id egestas urna. Quisque aliquam
					tempus euismod. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices 
					posuere cubilia.</p>
					<hr />
					<p>Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra
						ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel. Praesent nec orci
						facilisis leo magna. Cras sit amet urna eros, id egestas urna. Quisque aliquam
						tempus euismod. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
						posuere cubilia. <br><br> 

						Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra
						ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel. Praesent nec orci
						facilisis leo magna. Cras sit amet urna eros, id egestas urna. Quisque aliquam
						tempus euismod. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
						posuere cubilia. <br><br> </p>


			<blockquote>Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget.
				tempus euismod. Vestibulum ante ipsum primis in faucibus.</blockquote>
				<p>

						Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra
						ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel. Praesent nec orci
						facilisis leo magna. Cras sit amet urna eros, id egestas urna. Quisque aliquam
						tempus euismod. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
						posuere cubilia. <br><br> 

						Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra
						ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel. Praesent nec orci
						facilisis leo magna. Cras sit amet urna eros, id egestas urna. Quisque aliquam
						tempus euismod. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
						posuere cubilia. <br><br> 

						Donec consectetur vestibulum dolor et pulvinar. Etiam vel felis enim, at viverra
						ligula. Ut porttitor sagittis lorem, quis eleifend nisi ornare vel. Praesent nec orci
						facilisis leo magna. Cras sit amet urna eros, id egestas urna. Quisque aliquam
						tempus euismod. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
						posuere cubilia. <br><br> 

						</p>

					
					</section>
	</div>

				<!-- Footer -->

				<footer id="footer">
					<!-- <div id="produced">PRODUCED BY</div> -->
					<hr>
						WRONG NAMES!!! <br>
						ALLEN PHAM, <i> Editor-in-Chief </i> // 	ANKIT MUKHERJEE, <i> Design Director </i> //
						ALINA ABIDI, <i> Online Projects Editor</i> // 
						ERIC HE, <i> Managing Editor </i> //
						TERRY NGUYEN, <i> Digital Managing Editor </i> //
						TOMÀS MIER & CATHERINE YANG, <i> Associate Managing Editors  </i>//
						SOPHIA HU, <i> Online Projects Staff </i>

						<br><br>
						&copy; University of Southern California | Daily Trojan 2018. All rights reserved. | <a href="https://html5up.net/">HTML5UP</a></p>	
					</footer>

					<!-- Scripts -->
					<script src="assets/js/jquery.min.js"></script>
					<script src="assets/js/browser.min.js"></script>
					<script src="assets/js/breakpoints.min.js"></script>
					<script src="assets/js/util.js"></script>
					<script src="assets/js/main.js"></script>

				</body>
				</html>