<!DOCTYPE HTML>

<html>
	<head>
	<link rel="icon" href="images/favicon.png">
	<title>Home Away from Home</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
	<link rel="stylesheet" href="assets/css/main.css" />
	<meta property="og:type"               content="article" />
	<meta property="og:title"              content="Home Away from Home" />
	<meta property="og:description"        content="Deconstructing the housing conversation"/>
	<meta property="og:image"              content="images/gak.jpg" />
</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<nav class="left">
					<a href="#menu"><span>Menu</span></a>
				</nav>
				<a href="http://dailytrojan.com/" class="logo">DAILY TROJAN</a>
			</header>

		<!-- Menu -->
		<nav id="menu">
				<ul class="links">
					<li><a href="index.html">Home</a></li>
					<li><a href="expo.html">No longer welcome</a></li>
					<li><a href="commuter.html">To go the distance</a></li>
					<li><a href="gak.html">A place to call home</a></li>
					<li><a href="transfer.html">Transfer student housing</a></li>
					<li><a href="special_interest.html">Special interest spaces</a></li>
					<li><a href="portal.html">A ticket home</a></li>
					<li><a href="interactive.html">Popular housing choices</a></li>
				</ul>
			</nav>

		<!-- Main -->
		<section id="main" class="wrapper style2">
			
				<header class="headline">
							<h1 style="color: #65893a;">A place to call home</h1>
							<h2>The Gakusei Kai House is an affordable living destination <br>for a small group of low-income students at USC
</h2><br>
							<h3>By Tomás Mier, Managing Editor
</h3>
							<br><br>
						</header>
	
					<div class="bigImage">
						<img src="images/gak.jpg" alt="" />
					</div>
				<div class="inner">
					<br>
					<p>On most mornings before class during his first semester at USC, David Rodriguez, who was born in Venezuela, would wake up from a restless night, rub his eyes, get off the small futon in his sisters’ apartment and embark on the hour-long trek from Redondo Beach to USC.<br><br>

“My first semester was very hard,” he said. “Coming from Venezuela, I still didn’t have the money for [housing] … The amount of money I was earning over there wasn’t enough to pay for housing over here.” 
<br><br>
As an international student, Rodriguez is ineligible for federal financial aid. Since he could not afford housing in the USC area, Rodriguez resorted to commuting for an entire semester. During finals week, Rodriguez slept at Leavey Library for three consecutive nights to maximize time for studying and avoid wasting time commuting.<br><br>

It was not until Rodriguez moved into the Gakusei Kai House, or the GAK House, that he was able to focus on his studies and leave behind his extensive commute and uncomfortable makeshift bed.
<br><br>
The GAK House is a self-sustained property that provides “affordable housing to exceptional students with financial need,” according to the house’s Facebook page. The house has no landlord and is completely run by its student tenants.<br><br>

</p></div>

						<iframe width="100%" height="500px"  src="https://www.youtube.com/embed/ulPVFIpGG8g" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe><div class="inner">

					<p>

<p> The house was originally built in 1901 where Heritage Hall presently sits to house international students from Japan, according to Joanne Rapadas, one of three alumni who serve on the GAK House’s Board of Directors.<br><br>

Students who lived in the house then were also able to pay affordable rent to live there. Many of the Japanese students could barely afford to attend USC and were in need of a more affordable housing option. When the University purchased the land where Heritage Hall is now, USC relocated the house onto 30th Street where it is today, Rapadas said.<br><br>

Over a century later, the house welcomes students of all backgrounds who struggle to afford housing near USC. As a resident of the GAK House, Rodriguez pays $350 to live less than half a mile away from campus.
<br><br>
“If it wasn’t for the GAK house, I would still be living with my sisters,” he said. “I would’ve still been living over there and commuting and probably super exhausted all the time.”
<br><br>
Rodriguez is one of around 15 multicultural students who share 10 rooms in the house at 727 West 30th St. 
</p>
						<span class="image left"><img src="images/9949.jpg" alt="" /><p>There are 15 residents of the GAK House, who each pay $350/month for rent. To live there, students have to demonstrate financial need and go through a formal application process.</p></span><p>
					The house is run by students, for students. Rent goes toward maintaining the house and regular bills, and leftover funds go into a savings account. And while applications are open to all, not just anyone can live at the GAK House. Students who wish to live there must apply each year in late March through an online application, which includes submitting a personal video along with financial aid information. The process involves extensive interviews and meetings among the current GAK House residents to select its newest residents.<br><br>
This year, only three out of 33 applicants were chosen to live in the house.<br><br>

Like Rodriguez, Fátima Escolano is an  international student who lives in the GAK House. She is a clarinetist and is studying to receive her graduate certificate in music performance. She was born in Spain and formerly studied in Denmark.<br><br>

Escolano was set to attend USC: She had scholarships to pay for school and was looking forward to working under esteemed musical faculty. The only problem was that she needed a place to live. <br><br>

</p>
					<span class="image right"><img src="images/davidroom.jpg" alt="" /><p>David Rodriguez, an international student from Venezuela, peers into his room at the GAK House. Before moving there, he commuted 20 miles a day to USC. </p></span>
					
					<p>When she found out she had been accepted into the GAK House, she knew she would no longer need to worry about her housing situation. “It was a present from God,” Escolano said.<br><br>
The pricing of the house is so low because no one makes money from the house, according to Rapadas.
<br><br>
Instead of paying higher costs for living, the people who live at the house are responsible for covering expenses, repair work and cleaning — all themselves.
<br><br>
“The people who are responsible for maintaining the house are the people living there,” Rapadas said. “I was able to walk away USC with two amazing degrees, but on top of that … I know how to do electrical, I know how to do plumbing, I know how to repair cabinets, all because I lived in the house.”
<br><br>
Rapadas said that she and the house’s Board of Directors consider rent for the house to consist of three things: the residents’ $350 monthly payment, completed weekly chores to ensure the house’s general maintenance and good standing to complete their college education.
Within the house, residents also hold each other accountable for chores and repairs through their own leadership. The house is led by a team of vice presidents and a president, who each serve different roles each week. <br><br>
</p>
<span class="image left"><img src="images/0101.jpg" alt="" /><p>Rodriguez said he would still be living at his sister’s house in Redondo Beach if it wasn’t for his placement at the house. </p></span>


					<p>
					On one of the walls inside the house, a grid lists each of the residents’ names and their chores for the week that help keep the house autonomous. In dry erase marker, residents write the date they completed their chore on the whiteboard. 
<br><br>
But the relationship of the residents goes beyond working together to maintain order and cleanliness in the house. Both Escolano and Rodriguez describe GAK as a tight-knit community.
<br><br>
“This is my family,” Rodriguez said. “And I feel like pretty much every person living in the house feels that way. And we love each other as a family.”
<br><br>
Rodriguez said that many of the residents often squeeze onto the sectional couch that sits in their living room to watch movies together. They pass around a bowl of popcorn and laugh at the screen — they are now each other’s family as they pursue their USC education. 
<br><br>
While each of the students display different interests, majors and ages, they all share a common gratitude for the house itself. Without it, many would not even be able to afford completing their degree at a university like USC.
<br><br>
“We realize how important it is that these students have access to housing so that they have access to a great education,” Rapadas said. “When you want to talk about character, these guys have it.”

</p>
				</div>
			</section>
	<!-- Footer -->
			<footer id="footer">
				PRODUCED BY <br>

				SARAH CHAN, Features Editor, 
				TERRY NGUYEN, Features Editor<br>
				EMMA PEPLOW, Editor-in-Chief,
				ALINA ABIDI, Online Projects Editor<br>
				<br>
				&copy; University of Southern California | Daily Trojan 2018. All rights reserved. | <a href="https://templated.co">TEMPLATED</a></p>	
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>