<!DOCTYPE HTML>
<html>
<head>
	<title> The winning green team</title>
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="is-preload">
		<div class="banner">
			<a href="index.html"><img src="images/thinbanner.png"></a>
		</div>
		<br>
		<ul class="actions special">
			<li><a href="http://dailytrojan.com" class="button">Daily Trojan</a></li>
		</ul>
		<hr>

		<div class="headline">
			<h1> The winning green team: How USC is working to be a powerhouse in athletics sustainability</h1>
				<div class="deck"><p> With the program in its fourth season, vendors know the drill. They know to use compostable materials — and they are happy to participate in conservation efforts. </p></div>
				<div class="byline"> <p> Story and photos by Eric He,<b> Managing Editor </b> </p></div>

				<hr>
			</div>

			<div class="biggerphoto">
				<img src="images/waste1.jpg">
				<div class="caption"><p>Bags of waste sit outside Gate 17 of the Coliseum. Waste that is compostable or recyclable will be sorted further at the Coliseum compost.</p></div>
			</div>

			<br>
			<div class="storyBody">
				<section>
					<p><span class="firstcharacter">I</span>t’s Saturday night, minutes before USC’s game against Colorado at the Coliseum, and the stadium is abuzz. Thousands of students and fans stream onto the concourse, talking, laughing and buying drinks — enjoying everything gameday has to offer.<br><br>

Somewhere in the swarm is Joshua Sierra, who works as a program specialist in the USC Office of Sustainability. He helps oversee the Zero Waste program at the Coliseum, an initiative launched in 2015 to reduce waste at the historic stadium, which hosted nearly one million fans between USC and Los Angeles Rams football games in 2017.

<br><br>
 
Joshua Sierra is not here to party.

<br><br>

Holding a notepad with a pen tucked behind his ear, he slowly makes his way around the stadium, performing audits on vendors to ensure they adhere to zero-waste regulations — using compostable containers, wrappers and service ware. He examines napkins, cups and straws, making a note of anything that doesn’t look compostable. He’ll then talk to the vendor and confirm they’ll swap out the material next week.<br><br>
 
“If they’ve been good the past couple of weeks, I’m not going to rip through everything,” Sierra said. “You can just watch for one second and see what that they’re serving. I’m not going to Sherlock Holmes them.”<br><br>
 
With the program in its fourth season, vendors know the drill. They know to use compostable materials — and they are happy to participate in conservation efforts. <br><br>

</p></section></div>

				<div class="verticalphoto">
					<img src="images/waste-info.jpg">
					<div class="caption"><p> <i> Reporting by Eric He, Graphic by Allen Pham | Daily Trojan</i></p></div>
				</div>

				<section><div class="storyBody"><p>

 
“A lot of them are proud, like, ‘Hey, check out what we did,’” Sierra said of the vendors.<br><br>
 
Vendors are just one facet of the large puzzle that is the Zero Waste program: It’s a program that has become necessary for the Coliseum, where this season, fans have generated more than 10 tons of waste per game, according to the Office of Sustainability.
<br><br>

During the Colorado game on Nov. 13, attended by over 50,000 fans — the most recent game for which data is available — 16.3 of 17.8 tons of waste were diverted from landfill. Additionally, almost seven tons of recycling and over nine tons of compost were diverted.<br><br>

Brian Grant, the Senior Associate Director of Facilities & Project Management of operations at the Coliseum, helped start the Zero Waste initiative along with Jeff Farrell, the Coliseum Facility Operations Manager. <br><br>

After heading operations at TCF Bank Stadium — home of the University of Minnesota football team — which also has a zero waste program, Grant and his team decided to try it in Los Angeles. But while TCF Bank Stadium opened in 2009, the Coliseum is 86 years older and holds about 28,000 more seats.<br><br> 

Despite these obstacles, Grant knew he could make it happen. And numbers indicate that achieving zero waste is possible, even at the Coliseum. In 2017, it became the largest NFL stadium and second largest college stadium to achieve “zero waste,” by recycling, repurposing or composting 90 percent of its waste. <br><br>
 
“We knew we were taking a bigger leap,” Grant said. “We wanted to get to the end game. It was a point of pride to be able to do this kind of thing.”<br><br>

</p><header><h3><hr>
A 200-person task
</h3></header><p>
 
This season, the Coliseum has achieved zero waste in two out of three USC games in which data was made available. It diverted 90 percent of waste in the season opener against UNLV and 91 percent against Colorado, which was the “Green Game” in the Pac-12’s annual Zero Waste Competition.<br><br>
 
Last year USC won the competition after diverting 90.96 percent of gameday waste during an October game. It topped itself this year, recording a 91.38 percent diversion rate in the Colorado game.<br><br>
 
“The Coliseum waste diversion is incredibly efficient because you’ve got organized vendors and organized maintenance people,” said Esther Margulies, an associate professor at the USC School of Architecture.
<br><br> 

</p></section></div>

				<div class="biggerphoto">
					<img src="images/waste3.jpg">
					<div class="caption"><p> A pile of fries are left for the clean-up crew to pick up the Monday after a doubleheader weekend of games at the Coliseum.</p></div>
				</div>

				<section><div class="storyBody"><p>

 
The clean-up process takes a team effort among 200 staff members. It happens in three waves, according to Grant, with a crew systematically working through each section of the stadium to first bag recyclable items, then compostable materials and finally any remaining waste.<br><br>
 
Then, in the “post-trash” phase, a group of sorters in the compost — a small area near Gate 14 with two sorting tables and four compactors — work in shifts to separate out trash, recyclable and compostable items before they are sent to the facility. This is an important step in the sustainability process, one that Guillermo Parra, compost supervisor for Marsden West — the contractor that serves the Coliseum — takes pride in.<br><br>
 
“To be working in trash, you’ve got to be a little crazy,” Parra said. “Detail-oriented: that’s one of my things. I like the process of separating and then helping the environment.”<br><br>
 
Donning a full uniform and hard hat, Parra excitedly explains each part of the sorting process, introducing his employees and describing the function of all the materials in the compost.<br><br>

Despite the unpleasant sound of bottles being squeezed and the smell of garbage filling the air, it’s a loose environment. Music blasts. Employees crack jokes.<br><br>
 
“It’s very peaceful,” Jaime Escobar said as he sorted through a pile of trash, a big smile spreading across his face. “The people here are very friendly, helpful. The supervisors don’t push you, don’t stress you. We know that we have to get things out at a certain time, but I enjoy it.”<br><br>
 
IIdeally, the crew would have all week. But with USC and the Rams sharing a facility, there’s the unavoidable scenario of consecutive games in a weekend. On this particular Monday, the Coliseum just hosted what Ellen Dux, programs manager at the Office of Sustainability, called the “weekend of hell” — USC played Arizona State on a Saturday, and the Rams faced the Packers on Sunday.<br><br>
 
With a short turnaround, Grant had a crew cleaning up immediately after the USC game ended. Trash bags line the area outside the tunnels leading to the seats. There’s a slide draped over the stairs so workers don’t have to carry heavy bags of trash down the steps. Efficiency rules the day.<br><br>
 
“Our window is more like hours instead of days,” Grant said.

<br><br>
 
Grant remembers the weekend last season when USC beat Texas in a game that went to double overtime on a Saturday night, followed by the Rams hosting a game the following Sunday at 1:25 p.m. The crew stayed at the Coliseum for 39 straight hours, and it was then that Grant realized how insane the job is.<br><br>
 
“As crazy as it sounds to say that we did two games in 24 hours, everybody takes an immense amount of pride afterwards, realizing that what we pulled off here is pretty cool,” Grant said. “It takes a lot of effort, and it’s really draining physically, emotionally.”<br><br>

</p><hr><header><h3>Outside the Coliseum</h3></header><p>


There’s a running joke in the athletic fields and irrigation supervisor’s family: He goes to bed before his 1-year-old granddaughter.<br><br>
 
“Between 7:30 [p.m.] and 8 [p.m.], I’m usually out,” Steve Dugas said. “When you’re up at 3, you just don’t have that stamina at the end of the day.”<br><br>
 
Dugas manages the University’s 10 outdoor sports facilities, which include Dedeaux Field, McAlister Field and Merle Norman Stadium. He and his crew of eight arrive early in the morning to avoid disturbing students.<br><br>
 
“There’s a lot of cleaning that needs to take place in public areas,” Dugas said.<br><br>


</p></section></div>

				<div class="biggerphoto">
					<img src="images/waste2.jpg">
					<div class="caption"><p>A team of workers pick trash under the seats after a double-header weekend of games at the LA Memorial Coliseum on Oct. 29. <i>(Eric He | Daily Trojan)</i>

</p></div>
				</div>

				<section><div class="storyBody"><p>

 
The team attempts to work on each facility daily, but its work is dependent on what attention and repairs are needed, whether it’s picking up trash, blowing an area or washing something down. The only “routine” is a 5 a.m. staff meeting to discuss the day’s events.

<br><br>
 
There is a large whiteboard calendar in a meeting room adjacent to Dugas’ windowless office next to Dedeaux Field, filled to the brim with USC’s athletics schedule. In addition to making sure competition fields are ready prior to gameday and conducting post-event cleanup and maintenance, the crew is responsible for staffing all baseball games.

<br><br>
 
“There is no such thing as a typical day,” Dugas said. “The only thing typical is that we all meet in the morning. After that, we could be all over the place, depending on the sport that’s in season.”<br><br>
 
The campus irrigation system uses weather-based programming, making adjustments based on daily evaporation statistics to save as much water as possible in a drought-prone state. <br><br>

According to Eric Johnson, director of operations at Facilities Management and Services at USC, about 70 percent of the sprayhead sprinklers used on the athletics facilities have been replaced by drip irrigation, which allows water to drip directly where needed, eliminating runoff. This reduces water usage significantly: from 2-4 gallons a minute with a sprayhead to 0.9 gallons an hour with drip irrigation, Johnson said.<br><br>

That is, when squirrels aren’t chewing on the irrigation lines. Dugas said squirrels are one of the biggest problems his crew faces daily.<br><br>

</p></section></div>

				<div class="biggerphoto">
					<img src="images/waste5.jpg">
					<div class="caption"><p>The USC Wrigley Institute for Environmental Studies gives out “cricket cookies” during the Green Game on Oct. 13.</p></div>
				</div>

				<section><div class="storyBody"><p>

 
““Even if the system is not on, they’ll chew on the lines to get water out of it,” Dugas said. “It creates a lot of work for the guys.”<br><br>

Johnson’s workers also avoid using chemicals such as pesticides or insecticides.  <br><br>

“What they do is all about how you apply water, applying it correctly and efficiently, growing grass, growing plants, growing trees,” Johnson said. “It’s all about sustainability.”<br><br>

Dugas is also aware of the pressures of maintaining facilities at a school with a prestigious athletics program, and balancing sustainability practices with ensuring a sleek appearance.<br><br>

“When they have a prospective recruit coming to campus on a campus visit, they want to be able to show off their facilities,” Dugas said. “We get how important that is.”<br><br>
 
</p><header><hr><h3>Educating fans
</h3></header><p>

As kickoff for the Nov. 10 homecoming game creeps closer, tailgating on campus reaches its peak at dusk. It is a night game, and fans have had plenty of time to get tipsy. Multiple rowdy games of beer pong break out on the McCarthy Quad lawn. Next to one faceoff, a crowd forms around a man performing a keg stand. <br><br>

About 20 yards away sits a tent with a green sign that reads “Trojans Recycle Right.” <br><br>

Two cornholes sets sit next to the sign, listing the differences between landfill and recyclable items. This is the temporary headquarters of Team Trash Talkers, a group of around 20 students hired by the Office of Sustainability to assist in limiting tailgate waste. <br><br>

This is the first year of the initiative, which Dux described as the “least of the low-hanging fruit.” <br><br>

Last year, there were no recycling bins provided at tailgates. That’s changed this year, and during the tailgate before the Arizona State game on Oct. 27, five tons of waste were recycled. <br><br>

The program is a still a work in progress. Without a lot of data, the team is testing out various strategies toward engaging with tailgaters. The night before home games, the group places recycling decals on bins. The decals serve as a segue for the group to talk to people about engagement, according to Temoc Chavero, the student leader of Team Trash Talkers. <br><br>

“Half of our part is decaling, the other half is engagement,” said Chavero, a junior majoring in business administration. “So we walk around, talk to people. We hand out cards, surveys … Anything to get people to have a conversation about waste diversion.” <br><br>

For this tailgate, the team is employing a strategy called “waste goalies,” in which team members pair up, stand next to several bins and remind tailgaters which products are recyclable and which are compostable.   <br><br>

“It’s near-perfect waste diversion,” Chavero said. <br><br>


</p></section></div>

				<div class="biggerphoto">
					<img src="images/waste4.jpg">
					<div class="caption"><p>Signs around campus remind students of the difference between compostable and recyclable products.</p></div>
				</div>

				<section><div class="storyBody"><p>

 
Yet the group can only do so much. Much like waste diversion at the Coliseum, the impetus is on fans to understand the importance of sustainability and toss their waste items into the correct bins. That can be difficult with fans just trying to have a good time at a tailgate or a game.<br><br>

“Our big goal needs to be bringing general public tailgating up to the level of responsibility of what happens inside,” said Margulies, who is also a member of the USC Academic Senate Sustainability Committee.<br><br>

“Education is part of sustainability,” Marguiles said. “It might change behavior in a positive way.”<br><br>

Positive education is what Team Trash Talkers strives to put forward. But the group still has to face the reality that many people don’t understand the impact recycling can have.<br><br>

“It’s hard,” Chavero said, “because you get all these drunk people and they don’t want to talk.”<br><br>

It’s why this week, the group backed off of McCarthy Quad, sending people to locations such as the areas around Tommy Trojan, Fertitta Hall, Pardee Tower and Trousdale Parkway.<br><br>

The quad is too crowded, too noisy, too rowdy to control the waste stream for the tailgate. The goal is not to simply show face as the sustainability group, but to fill up the recycling bins to divert more waste.<br><br>

“That’s the bottom line,” Dux said. “Everyone likes a good show and a good party, but if that doesn’t get at what we’re doing, then why are we really doing it?”<br><br>


					</p>
				</section>
			</div>
			<!-- Footer -->
			<div class="banner bottom">
				<img src="images/thinbanner.png">
			</div>
			<footer id="footer">
				<p><b>PRODUCED BY</b> <br>

					<b>ALLEN PHAM,</b> Editor-in-Chief | 	
					<b>DIANA KRUZMAN,</b> Features Editor |
					<b>ALINA ABIDI,</b> Online Projects Editor |
					<b>ERIC HE,</b> Managing Editor |
					<b>TOMÁS MIER,</b> Associate Managing Editor |
					<b>CATHERINE YANG,</b> Associate Managing Editor

					<br><br>
					&copy; University of Southern California | Daily Trojan 2018. All rights reserved. | <a href="https://html5up.net/">HTML5UP</a></p>	
				</footer>

				<!-- Scripts -->
				<script src="assets/js/jquery.min.js"></script>
				<script src="assets/js/browser.min.js"></script>
				<script src="assets/js/breakpoints.min.js"></script>
				<script src="assets/js/util.js"></script>
				<script src="assets/js/main.js"></script>

			</body>
			</html>